body{
    font-family:Georgia, 'Times New Roman', Times, serif;
   background-color: rgb(39, 38, 38);
   color: white;
   margin: 0 auto;
}
/* nav */
nav{
    position: absolute;
    width: 100%;
    font-size: 24px;
    z-index: 1000;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
} 
.nav-links a{
text-decoration: none;
color:rgb(250, 182, 12) ;
padding: 20px;
text-shadow: 5px 5px 5px black;
}
.nav-links a:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    color: white;
}

.logo{
    font-size: 30px;
    margin: 10px;
    font-family: fantasy;
}
.signup{
    border: none;
    padding: 10px 20px;
    font-weight: 600px;
    font-size: large;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px rgb(17, 17, 17);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.signup:hover{
    background-color: rgb(250, 182, 12);
    color: black;
}
/* hamburger-nav */
.hamburger-nav{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    color: white;
  }
  .mobile-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 2rem;
  }
  .list{
    width: 2rem;
    height: 1rem;
    border: none;
    padding: 5px;
    background-color: white;
  }
  .nav-links-mobile{
    display: none;
    border: 1px solid grey;
    position: absolute;
    top: 3rem;
    right: 1rem;
  }
  .nav-links-mobile a{
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    color: black;
    padding: 10px;
  }
 .overlay,.overlay2 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.5) 100%);
  }
  .overlay2{
    height: 100vh !important;
  } 
.banner{
display: block;
position: relative;
max-width: 100%;
max-height: 100%;
object-fit: cover;

}
.title_section{
    position: absolute;
    z-index: 999;
    color: white;
    top:9rem;
    margin: 2rem;
}

.title{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 40px;  
}
.header{
   font-size: 28px;
   word-spacing: 2px;
   line-height: 3rem;
}
.brand{
    font-size: 50px;
    width: max-content;
    position: absolute;
    top: 4.5rem;
    margin-left: 13px;
    color: rgb(255, 183, 0);
    font-family:cursive;
}
.explore{
padding: 10px 50px;
border-radius: 20px;
border: none;
box-shadow: 5px 5px 5px solid black;
font-size: 20px;
margin-top: 2rem;
font-weight: 600;
background-color: rgb(255, 183, 0);
transition: transform 0.3s ease-in-out;
}
.explore:hover{
    opacity: 0.6;
    padding: 12px 52px;
   transform:scale(1.1);
}
/* About Section */
#about{
    display: flex;
   align-content: first baseline;
   margin-top: 5rem;
   gap: 2rem;
}
/* grid */
.container-1{
    display: grid;
    width: 45%; 
    margin: 0 0 3rem 2rem;
    row-gap: 5px;
    column-gap: 10px;

}
.pic-1 {
    grid-column: 1 / span 2;
  grid-row: 1;
}

.pic-2 {
    grid-column: 3/span 1;
    grid-row: 1 ;
}

.pic-3 {
    grid-column: 1 / span 1;
  grid-row: 2;
}

.pic-4 {
    grid-column: 2 / span 2;
    grid-row: 2;
}

.grid-img{
    max-width: 100%;
    max-height: 260px;
    object-fit: contain;  
}
/* text */
#about{
    height: 100vh;
}
.container-2{
    width: 50%;
}
.about_us{
    color:rgb(255, 183, 0) ;
    font-size: larger;
}
.about_header{
    font-size: 40px;
     display: flex;
    align-items:flex-end; 
}
.cutlery{
    width: 4rem;
    padding: 2px; 
}
.experience{
    display: flex;
     gap: 5rem;
}
.ex, .chef{
   display: flex; 
   align-items: center;
   gap: 15px;
}
.years,.chefs{
 font-size: 50px;
 margin: 1rem 0;
 color: rgb(255, 183, 0);
 float: left;
}
.read_more{
    margin: 3rem 0;
    border: none;
    background-color:rgb(255, 183, 0);
    font-weight: 700;
    padding: 1rem 2rem;
}
.read_more:hover,.read_more-2:hover{
    background-color: black;
    color:rgb(255, 183, 0) ;
    box-shadow: 5px 5px 5px black;
}

/* Menu */
#menu{
    background-color: rgb(30, 29, 29);
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.menu-list{
    margin: 2.5rem 1rem;
}
.menu_title{
    text-align: center;
    margin-bottom: 4rem;
   
}
.menu_title p{
    font-size: 40px;
}
.menu_item{
    width: 280px;
}
.menu_pic{
    width: 280px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px; 
}
.menu_text{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-right: 2rem;
    align-items: first baseline;
}
.menu_price{
    color: rgb(253, 86, 3);
    font-size: 22px;
    margin: 0;
}
.item_des{
    margin: 10px;
    font-size: small;
    color:rgb(231, 212, 190) ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.menu-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* feedback */
.feedback{
    height: 90vh;
}
.feed-title{
    margin: 5rem 0 6rem 0;
    font-size: 36px;
    text-align: center;
} 
.slider{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.slide.slide-3{
    position: absolute ;
    background-color: rgb(255, 183, 0) !important;
    z-index: 1000;
    box-shadow: 5px 5px 10px rgb(69, 69, 69);
    width: 300px;
    height: 200px;
    color: black;
    padding: 2rem;
}
.slide{
    width: 300px;
    height: 150px;
    background-color: white;
    color: black;
    padding: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.slide-2,.slide-4{
    height: 180px;
}
.quote{
    width: 3rem;
}
.profile{
width: 50px;
height: 50px;
border-radius: 50%;
float: left;
object-fit: cover;
margin-right: 1rem;
}
 h3{
    display: block;
    margin: 10px;
}
.radio-btn{
text-align: center;
margin-top: 5rem;
color: yellow;
}
/* services */

#services{
    position: relative;
}
.dining-pic{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
/* form */
.form-container{
    position:absolute;
    z-index: 1000;
    top: 3rem;
   right:2rem;
}
.form-container p{
    color: rgb(255, 183, 0);
    font-size: 24px;
}
.book-now{
    margin: 1rem 0;
    border: none;
    background-color: rgb(219, 66, 6);
    z-index: 1000;
    font-weight: 700;
    padding: 1rem;
    width: max-content;
    color: white; 
    transition: 0.3s ease-in-out;  
}
.book-now:hover{
    transform: scaleX(1.1);
}
form{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 300px;
    gap: 10px;
}
form input,select{
    padding: 10px;
}
.request{
    padding: 2rem;
}
label{
    color: rgb(252, 251, 251);
    font-weight: 700;
}
/* footer */
#contact{
    background-color: rgb(18, 18, 18);
    padding-top: 3rem;
}
#contact p{
    font-size: 30px;
    text-align: center;
    margin-bottom: 3rem;
}
footer{
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-bottom: 4rem;
}
.footer-1{
    display: flex;
    gap: 2rem;

}
.footer-1 ul li{
    list-style: none;
    font-size: large;
    padding: 5px 0;
}
.footer-1 h4{
    display: block;
    margin: 10px 0;
    font-size: 20px;
    color: rgb(255, 183, 0);
}
.contact-us{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-mail,.subscribe{
    padding: 1rem 5px;
}
.subscribe{
    border: none;
    background-color:rgb(255, 183, 0);
    font-weight: 700;
}
.final-line{
background-color: black;
text-align: left;
margin: 0;
padding: 8px;
}